<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- 페이지마다 메타태그를 다르게하려면 main과 동일한 방식으로 수정 -->
    <!--    <th:block layout:fragment="head"></th:block>-->

    <th:block th:insert="~{/common/fragments/head_meta :: metaFragment}"></th:block>
    <th:block th:insert="~{/common/fragments/head_css :: cssFragment}"></th:block>
</head>
<body>
    <th:block th:insert="~{/common/fragments/body_sidemenu :: sidemenuFragment}"></th:block>

    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        <th:block th:insert="~{/common/fragments/body_header :: headerFragment}"></th:block>
        <th:block layout:fragment="content"></th:block>
    </div>

    <th:block th:insert="~{/common/fragments/body_footer :: footerFragment}"></th:block>

    <th:block th:insert="~{/common/fragments/body_scripts :: scriptFragment}"></th:block>
</body>
</html>
