<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<th:block th:fragment="cssFragment">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="/css/style.css" rel="stylesheet">
    <!-- 커스텀 css -->
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
</th:block>
</html>
