<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/nonside_layout}">
<!-- 페이지마다 head meta를 다르게 적용할거면 아래 주석풀고 거기에 정의 -->
<!--<th:block layout:fragment="head"></th:block> -->
<th:block layout:fragment="content">
    <main>
<!--        로그인 페이지 -->
        <div id="login_container">
            <h2>Login</h2>
            <form id="login-form">
                <label for="user_id">Username:</label>
                <input type="text" id="user_id" name="user_id" required>
                <label for="user_pw">Password:</label>
                <input type="password" id="user_pw" name="user_pw" required>
                <button type="button" id="btn_login">Login</button>
            </form>
        </div>
    </main>
</th:block>
</html>
<script src="/js/custom/login.js"></script>