/** CSS 정의 **/

.sidebar-footer {
    display: flex;
    flex: 0 0 var(--cui-sidebar-toggler-height);
    justify-content: flex-end;
    width: inherit;
    padding: 0;
    cursor: pointer;
    background-color: var(--cui-sidebar-toggler-bg);
    border: 0;
}